<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {padding: 10px 28px;}

</style>
</head>
<body>

<table>
   <thead>
	    <tr>
	        <th> Name </th>
	        <th> City </th>
	        <th> Country </th>
	        <th> Year Founded </th>
	        <th> Actions </th>
	    </tr>
   </thead>
   <tbody>
		<tr th:if="${teams.empty}">
	        <td colspan="2"> No Teams Available </td>
	    </tr>
	       <tr th:each="team : ${teams}">
	           <td><span th:text="${team.name}"> Name </span></td>
	           <td><span th:text="${team.city}"> City </span></td>
	           <td><span th:text="${team.country}"> Country </span></td>
	           <td><span th:text="${team.yearFounded}"> Year Founded </span></td>
	           <td><button class="button button1"> Edit </button></td>
	       </tr>
    </tbody>
</table>

</body>
</html>

