<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" media="all" href="/css/index.css" th:href="@{/css/teamsPage.css}" /> 
</head>
<body>

	<div th:replace="fragments/header :: header">
      
    </div>

<div class="container">
		<form th:action="@{/addTeam}" th:object="${team}" method="POST">
			<input type="hidden" name="id" th:field="*{id}">
			
		    <label for="name"><b>Name</b></label>
		    <input th:field="*{name}" type="text" placeholder="Enter Name" name="name" id="name" required>
		    
		    <label for="city"><b>City</b></label>
		    <input th:field="*{city}" type="text" placeholder="Enter City" name="city" id="city" required>
		    
		    <label for="country"><b>Country</b></label>
		    <input th:field="*{country}" type="text" placeholder="Enter Country" name="country" id="country" required>

			<label for="yearFounded"><b>Year Founded</b></label>
		    <input th:field="*{yearFounded}" type="text" placeholder="Enter Year Founded" name="yearFounded" id="yearFounded" required>
		    
		    <button type="submit">Add Team</button>
	    </form>
</div>

<div>
	<table>
	   <thead>
		    <tr>
		        <th> Name </th>
		        <th> City </th>
		        <th> Country </th>
		        <th> Year Founded </th>
		        <th> Edit/Delete </th>
		    </tr>
	   </thead>
	   <tbody>
			<tr th:if="${teams.empty}">
		        <td colspan="2"> No Teams Available </td>
		    </tr>
		       <tr th:each="team : ${teams}">
		           <td><span th:text="${team.name}"> Name </span></td>
		           <td><span th:text="${team.city}"> City </span></td>
		           <td><span th:text="${team.country}"> Country </span></td>
		           <td><span th:text="${team.yearFounded}"> Year Founded </span></td>
		           <td>
		           		<a th:href="@{/teams/editTeam/{id} (id=${team.id})}" class="button"> Edit/Delete </a>
		           </td>
		       </tr>
	    </tbody>
	</table>
</div>
</body>
</html>

